@model CourseWork.Models.Comments

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование</h1>

<h4>Комментарии</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="id" />

                <div class="form-group" hidden>
                    <label asp-for="username" class="control-label">Пользователь</label>
                    <input asp-for="username" class="form-control" readonly />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="description" class="control-label">Содержание</label>
                    <textarea asp-for="description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="date" class="control-label">Дата публикации</label>
                    <input asp-for="date" class="form-control" readonly />
                    <span asp-validation-for="date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="albumsId" class="control-label mb-2">Альбом</label>
                    <select asp-for="albumsId" class="form-control mb-3" asp-items="ViewBag.albumsId" disabled></select>
                    <span asp-validation-for="albumsId" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-start">
                    <button type="submit" class="btn btn-primary mr-2">Сохранить</button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Вернуться к списку</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}